---
import '../styles/global.css';

interface Props {
  image: string;
  title: string;
  description: string;
}

const { image, title, description } = Astro.props;
---

<div class="max-w-sm rounded overflow-hidden bg-slate-900">
  <img class="w-full object-cover" src={image} alt="Card image" />

  <div class="px-6 py-4">
    <div
      class="font-inder font-bold text-xl mb-2 text-gray-900 dark:text-white"
    >
      {title}
    </div>
    <p class="font-inder text-gray-700 dark:text-gray-300 text-base">
      {description}
    </p>
  </div>
</div>
