---
import Menu from './Menu.astro';
import Navigation from './Navigation.astro';
// Ensure Menu.astro exists in the same directory, or update the path if necessary
---

<header class="bg-black flex justify-between px-10 py-7 items-center">
  <img class="w-20 h-auto max-w-none" src="/images/btmlogo.webp" />
  <nav>
    <Navigation class="hidden lg:block" />
  </nav>
  <Menu class="lg:hidden" />
</header>
